.editor-config-ex-results {
    border-width: 3px;
    background-color: #B0C4DE;
    border-style: solid;
    border-radius: 4px;
    border-color: #0724B9;
    position: fixed;
    padding: 7px;
    top: 0;
    right: 0;
    max-width: 400px;
    z-index: 999;
}

.editor-config-ex-value{
    width: max-content;
    padding: .5rem 0rem;
}

.editor-config-ex-value input{
    margin-right: 0.3rem;
}

.editor-config-ex label{
    text-transform: none;
    font-size: .800rem;
} 

#resultButton {
    width:100%;
}